@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Forum&family=Fredericka+the+Great&family=Karla:ital,wght@1,200&family=Monoton&family=Poiret+One&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Josefin+Slab:ital,wght@1,100&family=Poppins:ital,wght@1,100&display=swap');


/*
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0; */

@import "bootstrap";

/*
<a href='https://www.freepik.com/vectors/subtle'>Subtle vector created by starline - www.freepik.com</a>


ressources : 
https://www.toptal.com/developers/css3maker
https://fontawesome.com/
https://dribbble.com/shots/4466962-403-Forbidden/attachments/10411792?mode=media
*/
/* 


    font-family: 'Forum', cursive; forms ? -> non

    font-family: 'Fredericka the Great', cursive;  -> éléments qui reviennent très peu mais qui doivent être mis en valeur



    font-family: 'Monoton', cursive; ->h1

    font-family: 'Montserrat Alternates', sans-serif; -> h2, titres moyens

    font-family: 'Poiret One', cursive;  -> Semi title 
    font-family: 'BIZ UDPGothic', sans-serif; -> texte classique


    font-family: 'Quicksand', sans-serif; -> p, forms
    font-family: 'Karla', sans-serif;  -> Text1

    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Poppins', sans-serif; 


https://fonts.google.com/
https://www.toptal.com/developers/css3maker
*/

/* général */
h1 {
    font-family: 'Monoton','BIZ UDPGothic', cursive;
    color: #b49a9ac7;
    size: 4.25rem;
    text-shadow: 4px 3px 0px #597f9d;
    text-align: justify;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
    font-family: 'Poiret One','BIZ UDPGothic', cursive;
}


div {
    font-family: 'BIZ UDPGothic', sans-serif;
}

p {
    font-family: 'Quicksand', 'BIZ UDPGothic', sans-serif;
}

a {
    font-family: 'Karla','Quicksand', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", Verdana;
    background: url(./1.jpg) no-repeat fixed top/cover;
    min-height: 100vh;
}


nav {
    height: 8%;
    background-color: #66b4ab45;
    /* border-radius: 20px 20px 20px 20px; */
}


main {
    min-height: -webkit-fill-available;
    width: 90%;
    background: rgba(245, 243, 243, 0.74); 
    margin: auto auto auto auto;
    border: 2px solid rgb(42 55 77);
    border-radius: 20px 20px 0 0;
    position: relative;
    top: 40px;
    box-shadow: -7px 5px 0px 0px rgba(31, 22, 22, 0.3);

}

html, body {
    height: 100%;
}




/* les classes spéciales */


/* parties principales */

header, footer{
    height: 5%;
   background-color: rgb(241 201 201 / 42%);
    color: #fff;
   /*  background: linear-gradient(
          162deg,
          rgba(128, 108, 108, 0.39) 19%,
          rgba(191, 147, 142, 0.47) 30%,
          rgba(201, 173, 173, 0.47) 45%
        );*/
      
}


.content{
    display: flex;
    height: 100%;
    width: 100%;
}


.nickname  {
    color:blue;margin-right:20px;
}
.hidden {
    display: none;
}

.counter{
    padding:8px; 
    color:#ccc;
}


/* login et forms */

 
#login-page {
    text-align: center;
}

#messageForm .input-message  {
    float: left;
    width: calc(100% - 85px);
}

.submit {
    background: linear-gradient(
      209deg,
      rgba(51, 87, 184, 1) 24%,
      rgba(118, 142, 222, 1) 25%,
      rgba(114, 124, 196, 0.52) 37%  
    );
    margin: auto;
    display: block;
}

.formbox {
    min-height:max-content; 
    min-width: max-content;
    height: 15%;
    width: 30%;
    background: rgba(245, 243, 243, 0.74); 
    margin: auto auto auto auto;
    border: 2px solid rgb(42 55 77);
    border-radius: 20px 20px 20px 20px;
    position: relative;
    top: 200px;
    text-align: center;
    padding: auto;
    margin-bottom: 10%;
    box-shadow: -7px 5px 0px 0px rgba(31, 22, 22, 0.3);

}

.boxbox {
    min-height:fit-content;
    min-width: max-content;
    background: rgba(245, 243, 243, 0.74); 
    margin: auto auto auto auto;
    border: 2px solid rgb(42 55 77);
    position: relative;
    top: 200px;
    text-align: center;
    padding: auto;
    margin-bottom: 10%;
}

/* containers */

.user-container {
    float: right;
    margin-right:5px;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container > form{
    height: 200px;
    width: 300px;
    border: 1px solid #ccc;
}

.login-container > form > label, .login-container > form > input{
    display: block;
}


#login-container {
    background: #f4f6f6 ;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}
 

#chat-container {
    position: relative;
    height: 100%;
}

#chat-container #messageForm {
    padding: 20px;
}

#chat-container {
    border: 2px solid #d5dbdb;
    background-color:  #d5dbdb ;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
    
}

#chat-container ul {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}
 
#chat-container #messageForm {
    padding: 20px;
}

#chat-container ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-container ul li p {
    margin: 0;
}

#chat-container .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-container .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-container .chat-message {
    position: relative;
}


/* fonctions */

#list-connected-users {

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 30px;

    position: relative;
    
}

.connecting {
    text-align: center;
    color: #777;
    width: 100%;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}


/* les positions */  
.position {
    border: 2px solid transparent
    border-radius: 10px;
    padding: 10px;
    position: relative;
    min-height: 100px;
    margin-top: 20px;
    left: 40px;
  }

.position2 {
    border: 2px solid transparent
    border-radius: 10px;
    padding: 10px;
    position: relative;
    min-height: 100px;
    margin-top: 20px;
    left: 40px;
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

aside{
    width: 20%;
}

.bottom {
    position: relative;
    margin-bottom: 20px; }

/* animation */

#body .anim{
    animation-name: move;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f1ebfa;
    overflow: hidden;
}

.background span {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #e6d1d7;
    top: 56%;
    left: 30%;
    animation-duration: 47s;
    animation-delay: -38s;
    transform-origin: 17vw 5vh;
    box-shadow: 28vmin 0 4.234126086348451vmin currentColor;
}
.background span:nth-child(1) {
    color: #e6d1d7;
    top: 86%;
    left: 21%;
    animation-duration: 32s;
    animation-delay: -42s;
    transform-origin: 14vw -1vh;
    box-shadow: -28vmin 0 3.5809294735975534vmin currentColor;
}
.background span:nth-child(2) {
    color: #dbaeae;
    top: 59%;
    left: 62%;
    animation-duration: 11s;
    animation-delay: -8s;
    transform-origin: 23vw 4vh;
    box-shadow: 28vmin 0 4.358427375216024vmin currentColor;
}
.background span:nth-child(3) {
    color: #e6b7b7;
    top: 7%;
    left: 32%;
    animation-duration: 36s;
    animation-delay: -8s;
    transform-origin: 1vw -20vh;
    box-shadow: 28vmin 0 4.132688426643361vmin currentColor;
}
.background span:nth-child(4) {
    color: #e6b7b7;
    top: 85%;
    left: 78%;
    animation-duration: 12s;
    animation-delay: -20s;
    transform-origin: 12vw 21vh;
    box-shadow: 28vmin 0 4.454347687351644vmin currentColor;
}
.background span:nth-child(5) {
    color: #e6b7b7;
    top: 6%;
    left: 84%;
    animation-duration: 37s;
    animation-delay: -29s;
    transform-origin: -13vw 15vh;
    box-shadow: -28vmin 0 4.4174058561852325vmin currentColor;
}
.background span:nth-child(6) {
    color: #e6b7b7;
    top: 17%;
    left: 81%;
    animation-duration: 11s;
    animation-delay: -45s;
    transform-origin: 16vw 15vh;
    box-shadow: 28vmin 0 3.797878185955395vmin currentColor;
}
.background span:nth-child(7) {
    color: #dbaeae;
    top: 95%;
    left: 37%;
    animation-duration: 39s;
    animation-delay: -36s;
    transform-origin: -19vw 6vh;
    box-shadow: 28vmin 0 4.056563262798772vmin currentColor;
}
.background span:nth-child(8) {
    color: #e6b7b7;
    top: 71%;
    left: 33%;
    animation-duration: 48s;
    animation-delay: -15s;
    transform-origin: -21vw 21vh;
    box-shadow: 28vmin 0 4.3417213185519925vmin currentColor;
}
.background span:nth-child(9) {
    color: #e6d1d7;
    top: 92%;
    left: 78%;
    animation-duration: 19s;
    animation-delay: -17s;
    transform-origin: 23vw 4vh;
    box-shadow: -28vmin 0 3.6604776746973235vmin currentColor;
}
.background span:nth-child(10) {
    color: #e6d1d7;
    top: 70%;
    left: 79%;
    animation-duration: 41s;
    animation-delay: -9s;
    transform-origin: -24vw -24vh;
    box-shadow: -28vmin 0 3.592739115865569vmin currentColor;
}
.background span:nth-child(11) {
    color: #dbaeae;
    top: 2%;
    left: 85%;
    animation-duration: 23s;
    animation-delay: -15s;
    transform-origin: -3vw 24vh;
    box-shadow: 28vmin 0 3.9917116071829613vmin currentColor;
}
.background span:nth-child(12) {
    color: #e6b7b7;
    top: 92%;
    left: 2%;
    animation-duration: 40s;
    animation-delay: -12s;
    transform-origin: 9vw 5vh;
    box-shadow: -28vmin 0 3.628429545223513vmin currentColor;
}
.background span:nth-child(13) {
    color: #dbaeae;
    top: 18%;
    left: 46%;
    animation-duration: 37s;
    animation-delay: -7s;
    transform-origin: -4vw 2vh;
    box-shadow: -28vmin 0 4.3315061590200346vmin currentColor;
}
.background span:nth-child(14) {
    color: #e6b7b7;
    top: 90%;
    left: 9%;
    animation-duration: 13s;
    animation-delay: -43s;
    transform-origin: -7vw 25vh;
    box-shadow: -28vmin 0 4.125759725933733vmin currentColor;
}
.background span:nth-child(15) {
    color: #e6d1d7;
    top: 87%;
    left: 59%;
    animation-duration: 41s;
    animation-delay: -37s;
    transform-origin: 24vw 13vh;
    box-shadow: 28vmin 0 3.8717390415413115vmin currentColor;
}
.background span:nth-child(16) {
    color: #e6b7b7;
    top: 82%;
    left: 59%;
    animation-duration: 18s;
    animation-delay: -28s;
    transform-origin: 21vw 22vh;
    box-shadow: -28vmin 0 3.947329814134024vmin currentColor;
}
.background span:nth-child(17) {
    color: #e6d1d7;
    top: 48%;
    left: 49%;
    animation-duration: 26s;
    animation-delay: -2s;
    transform-origin: -4vw 15vh;
    box-shadow: -28vmin 0 3.6429674054770835vmin currentColor;
}
.background span:nth-child(18) {
    color: #dbaeae;
    top: 100%;
    left: 24%;
    animation-duration: 13s;
    animation-delay: -37s;
    transform-origin: 4vw 10vh;
    box-shadow: 28vmin 0 4.2105249833867004vmin currentColor;
}
.background span:nth-child(19) {
    color: #e6b7b7;
    top: 97%;
    left: 65%;
    animation-duration: 36s;
    animation-delay: -6s;
    transform-origin: 8vw 19vh;
    box-shadow: -28vmin 0 4.3960623221205495vmin currentColor;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    z-index: 99;
}
