<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/chat.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <span th:if="${current_user != null}" th:text="${current_user}">current user</span>
</header>

<nav>
    <!-- Include _menu.html -->
    <h3 th:block th:include="/_menu"></h3></th:block>
    <div style="text-align: right; position: absolute; top: 7%; right: 4%;">
       <h3 style="color: linen;  font-weight: 100; font: size 3.75em;"> 
          <i class="fa-regular fa-comment-dots fa-1x fa-flip" style="--fa-animation-duration: 7s;"></i>
       </h3>
    </div>
    <div>
       <p style="text-align: right; position: absolute; top: 6%; right: 10%; color: linen; font-family: 'Poppins' ,'Arial Narrow Bold', sans-serif ;font-size: xx-large; position: -webkit-sticky; letter-spacing: .2rem;">I chat, UTChat !</p>
    </div> 
    </nav>

<div class="content">
    <main>
    	<h2> Gérer les utilisateurs </h2>
        <table class="table results">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.lastName}"></span></td>
                <td><span th:text="${user.firstName}"></span></td>
                <td><a style="font-family:'Poiret One','BIZ UDPGothic', cursive;" class="btn btn-secondary" role="button" th:href="@{/channel/{channel_id}/remove-user/{user_id} (channel_id=${channel_id}, user_id=${user.id})}"> Supprimer</a></td>
            </tr>
            </tbody>
        </table>
        
        <form th:action="@{/channel/{channel_id}/add-user(channel_id=${channel_id})}" th:object="${selected_user}" th:method="get">
        <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="inputGroupSelect01">Utilisateurs</label>
		  </div>
		  <select th:field="*{id}" class="custom-select" id="inputGroupSelect01">
		    <option th:each="user : ${listeUsers}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
		  </select>
		  <div class="input-group-append">
            <a style="font-family:'Poiret One','BIZ UDPGothic', cursive;"><button type="submit" class="btn btn-secondary" role="button">Ajouter l'utilisateur</button></a>
		  </div>
		</div>
		</form>
		<a style="font-family:'Poiret One','BIZ UDPGothic', cursive;" th:href="@{/channels}" class="btn btn-secondary" role="button"> Retourner à la liste des channels</a>
    </main>
</div>
</body>
</html>