
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>User Info</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <link rel="stylesheet" href="/css/chat.css">
          <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- https://cdnjs.com/libraries/sockjs-client -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
      <!-- https://cdnjs.com/libraries/stomp.js/ -->
      <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
	</head>
	<body>
   		<input type="hidden" id="id" th:value="${id}"/>
   		<input type="hidden" id="username" th:value="${username}"/>
   		<input type="hidden" id="date_end" th:value="${date_end}"/>

		
       <header></header>
       <nav>
         <!-- Include _menu.html -->
         <h3 th:block th:include="/_menu"></h3></th:block>
         <div style="text-align: right; position: absolute; top: 7%; right: 4%;">
            <h3 style="color: linen;  font-weight: 100; font: size 3.75em;"> 
               <i class="fa-regular fa-comment-dots fa-1x fa-flip" style="--fa-animation-duration: 7s;"></i>
            </h3>
         </div>
         <div>
            <p style="text-align: right; position: absolute; top: 6%; right: 10%; color: linen; font-family: 'Poppins' ,'Arial Narrow Bold', sans-serif ;font-size: xx-large; position: -webkit-sticky; letter-spacing: .2rem;">I chat, UTChat !</p>
         </div> 
         </nav>
          
       <div class="content">
	     <!--   <main class="anim">-->
	 <div id="list-connected-users">
		 <h2> Utilisateurs connectés : </h2>
		 <div id="connected-users"></div>
		 <br>
		 <a style="font-family:'Poiret One','BIZ UDPGothic', cursive; margin: auto;" th:href="@{/channels}" class="btn btn-secondary" role="button"> Retour à la liste des channels</a>
	 </div>
     	 
     <div id="chat-container">
         <div class="chat-header">
            <div class="user-container">
           <!--  <span id="mail" th:utext="mail"></span> -->
               <a th:href="@{/logout}">Se déconnecter</a>
            </div>
            <h3>chat <span th:utext="${name}"></span></h3>
         </div>
         
         <hr/>
         
         <div id="connecting">Connecting...</div>
         <ul id="messageArea">
         </ul>
         <form id="messageForm" name="messageForm">
            <div class="input-message">
               <input type="text" id="message" autocomplete="off"
                  placeholder="Message..."/>
                  <a style="font-family:'Poiret One','BIZ UDPGothic', cursive;"><button type="submit" class="btn btn-secondary" role="button">Envoyer</button></a>
            </div>
         </form>
      </div>
      <br> <br>
      <!--  </main>  -->
      </div>
      
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script th:src="@{/js/mychat.js}"></script>
      
   
   </body>
   
</html>

 