<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste de chats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script>
    $(function() {
    $(document).ready(function() {
        $('#example1').DataTable();
    });
    });
    $(function() {
        $(document).ready(function() {
            $('#example2').DataTable();
        });
        });
    </script>
</head>
<body>
<header></header>
  <nav>
    <!-- Include _menu.html -->
    <h3 th:block th:include="/_menu"></h3></th:block>
    <div style="text-align: right; position: absolute; top: 7%; right: 4%;">
       <h3 style="color: linen;  font-weight: 100; font: size 3.75em;"> 
          <i class="fa-regular fa-comment-dots fa-1x fa-flip" style="--fa-animation-duration: 7s;"></i>
       </h3>
    </div>
    <div>
       <p style="text-align: right; position: absolute; top: 6%; right: 10%; color: linen; font-family: 'Poppins' ,'Arial Narrow Bold', sans-serif ;font-size: xx-large; position: -webkit-sticky; letter-spacing: .2rem;">I chat, UTChat !</p>
    </div> 
    </nav>
  <div class="content">
  	<div th:if="${#request.getParameter('error') != null}"
          style="color:red;margin:10px 0px;">
          
       L'action a échoué <br />
       Cause :
       <span  th:utext="${message_erreur}">
       </span>
        
    </div>
    <!--<main>-->
      <div class="container py-5" style="max-width: fit-content; min-height:max-content; overflow: auto">
        <div class="row py-10">
        <div class="col-lg-12 mx-auto">
       
           <h2> Liste de mes chats :</h2>
           <div class="card rounded shadow border-0">
            <div class="card-body p-8 bg-white rounded">
              <div class="table-responsive">
                <table id="example2" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Nom du chat</th>
                      <th>Description du chat</th>
                      <th>Date de début</th>
                      <th>Date de fin</th>
                      <th>Statut</th>
                      <th style="text-align:center">Actions</th>
                      <!--<th></th>
                      <th></th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="channel : ${channels_owned}">
                        <td>
                            <span th:text="${channel.name}"></span>
                        </td>
                        <td>
                            <span th:text="${channel.description}"></span>
                        </td>
                        <td>
                        <input class="form-control" type="datetime-local"
				       th:value="${channel.startDate}" readonly="readonly"> 
                           
                        </td>
                        <td>
                            <input class="form-control" type="datetime-local"
				       th:value="${channel.endDate}" readonly="readonly"> 
                        </td>
                        <td>
                            <span th:text="${channel.status}"></span>
                        </td>
                        <td style="text-align:center"> 
                        <ul class="list-inline m-0">
	                        <li class="list-inline-item">
	  
	                            <a th:href="@{/channel/{id}(id=${channel.id})}" >
		                            <button th:disabled="${channel.status != T(fr.utc.sr03.chat.model.Status).OPEN}" class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Se connecter au channel">                            
		                              <i class="fa fa-check"></i> 
		                            </button>
	                            </a>
	                            
	                        </li>
	                        <li class="list-inline-item">
	                            <a th:href="@{/channel/{id}/users(id=${channel.id})}" >
		                            <button class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Gérer les utilisateurs">                            
		                              <i class="fa fa-user"></i> 
		                            </button>
	                            </a>
	                        </li>
	                         <li class="list-inline-item">
	                            <a th:href="@{/channel/{id}/edit(id=${channel.id})}" >
		                            <button class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Modifier le channel">                            
		                              <i class="fa fa-edit"></i> 
		                            </button>
	                            </a>
	                        </li>
	           				<li class="list-inline-item">
	                            <a th:href="@{/channel/{id}/delete(id=${channel.id})}">
	                             	<button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Supprimer le channel">
	                            		<i class="fa fa-trash"></i>
	                            	</button>
	                            </a>
	                         </li>
                         </ul>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
                                    <div class="modal-header float-right">
                                    <a th:href="@{/channel/create_channel}" class="btn btn-sm btn-success pull-left"><i class="fa fa-plus-circle"></i> Créer un channel</a>

                            </div>
              </div> 
            </div>
            
            
          </div>          
        </div>        
    </div>
   </div>
    <!--</main>-->
    
</body>
</html>





