<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
     	<title th:utext="${title}"></title>
      	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/css/chat.css">
          <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- https://cdnjs.com/libraries/sockjs-client -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
		<!-- https://cdnjs.com/libraries/stomp.js/ -->
		<script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		
		<!-- Bootstrap Date-Picker Plugin -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
   </head>
   <body>
    	
   		<header></header>

		   <nav>
			<!-- Include _menu.html -->
			<h3 th:block th:include="/_menu"></h3></th:block>
			<div style="text-align: right; position: absolute; top: 7%; right: 4%;">
			   <h3 style="color: linen;  font-weight: 100; font: size 3.75em;"> 
				  <i class="fa-regular fa-comment-dots fa-1x fa-flip" style="--fa-animation-duration: 7s;"></i>
			   </h3>
			</div>
			<div>
			   <p style="text-align: right; position: absolute; top: 6%; right: 10%; color: linen; font-family: 'Poppins' ,'Arial Narrow Bold', sans-serif ;font-size: xx-large; position: -webkit-sticky; letter-spacing: .2rem;">I chat, UTChat !</p>
			</div> 
			</nav>

 		<div class="content">
	      <main>
		<h2>Création d'un channel</h2>

      	 <div id="create_channel">
      	       <!-- /channel/create-channel?error=1 -->
		      <div th:if="${#request.getParameter('error') != null}"
		            style="color:red;margin:10px 0px;">
		            
		         L'action a échoué <br />
		         Cause :
		         <span  th:utext="${message_erreur}">
		         </span>
		          
		      </div>
      	     <form name='#' th:action="@{create_channel}"  th:object="${channel}" method="post">
		         
		         	<p>Nom du channel :</p>
		            <input type='text' name='name' value='' required> 
		            <p>Description du channel :</p>     
		            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> 
		            
		            <label class="control-label" for="startDate">Date de début</label>
			        <input class="form-control" type="datetime-local" id="startDate"
				       name="startDate" required> 
			        <label class="control-label" for="endDate">Date de fin</label>
			        <input class="form-control" type="datetime-local" id="endDate"
				       name="endDate" required>  
		           	<a style="font-family:'Poiret One','BIZ UDPGothic', cursive;"><button type="submit" class="btn btn-secondary" role="button">Créer le channel</button></a>
		         
		    	</formbox>
			<a style="font-family:'Poiret One','BIZ UDPGothic', cursive;" th:href="@{/channels}" class="btn btn-outline-secondary" role="button"> Retourner à la liste des channels</a>
      	 </div>
      	 </main>
      	 </div>
   </body>

</html>