<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	<title th:utext="${title}"></title>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/css/chat.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
   <body>
  
        <header></header>
		<nav>
			<!-- Include _menu.html -->
			<h3 th:block th:include="/_menu"></h3></th:block>
			<div style="text-align: right; position: absolute; top: 7%; right: 4%;">
			   <h3 style="color: linen;  font-weight: 100; font: size 3.75em;"> 
				  <i class="fa-regular fa-comment-dots fa-1x fa-flip" style="--fa-animation-duration: 7s;"></i>
			   </h3>
			</div>
			<div>
			   <p style="text-align: right; position: absolute; top: 6%; right: 10%; color: linen; font-family: 'Poppins' ,'Arial Narrow Bold', sans-serif ;font-size: xx-large; position: -webkit-sticky; letter-spacing: .2rem;">I chat, UTChat !</p>
			</div> 
			</nav>
		
	<div class="container">    
	 <div class="formbox">
		<div th:if="${#request.getParameter('error') == 'true'}"
            style="color:red;margin:10px 0px;">
         Le mail existe déjà !<br />

      </div>
		<h2>Création d'un utilisateur</h2>

      	 <div id="create_user" style="text-align:center ;">
      	     <form  name='#' th:action="@{create-user}"  th:object="${user}" method="post">
		         <table>
		         	<tr>
		               <td>Prénom :</td>
		               <td><input type='text' name='firstName' value='' required></td>
		            </tr>
		            <tr>
		               <td>Nom :</td>
		               <td><input type='text' name='lastName' value='' required></td>
		            </tr>
		            <tr>
		               <td>Mail :</td>
		               <td><input type='text' name='mail' value='' required></td>
		            </tr>
		            <tr>
		               <td>Mot de passe :</td>
		               <td><input type='password' title="8 characters minimum" pattern=".{8,}" th:field="${user.password}" required/></td>
		            </tr>
		            <tr>
		               <td><a style="font-family:'Poiret One','BIZ UDPGothic', cursive;position: relative;left:60%;"><button type="submit" class="btn btn-secondary" role="button">Créer l'utilisateur</button></a></td>
		            </tr>
		         </table>
		    </formbox>
      	 </div>
		<a style="font-family:'Poiret One','BIZ UDPGothic', cursive;" th:href="@{/admin}" class="btn btn-outline-secondary" role="button"> Retourner à la page administrateur</a>
		</div>
	</div>
   </body>
   
</html>