<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Users</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });
});
</script>
</head>
<body>
  <header>
    <span th:if="${current_user != null}" th:text="${current_user}">current user</span>
</header>

<nav>
  <!-- Include _menu.html -->
  <h3 th:block th:include="/_menu"></h3></th:block>
  <div style="text-align: right; position: absolute; top: 7%; right: 4%;">
     <h3 style="color: linen;  font-weight: 100; font: size 3.75em;"> 
      <i class="fa-regular fa-comment-dots fa-1x fa-flip" style="--fa-animation-duration: 7s;"></i>
     </h3>
  </div>
  <div>
     <p style="text-align: right; position: absolute; top: 6%; right: 10%; color: linen; font-family: 'Poppins' ,'Arial Narrow Bold', sans-serif ;font-size: xx-large; position: -webkit-sticky; letter-spacing: .2rem;">I chat, UTChat !</p>
  </div> 
  </nav>

  <div class="content">
    <!--<main>-->
      <div class="container py-5">
      <!-- /users?error=true -->
      <div th:if="${#request.getParameter('error') != null}"
            style="color:red;margin:10px 0px;">
         L'action a échoué <br />
         Cause :
         <span  th:utext="${message_erreur}">
         </span>
          
      </div>
        <div class="row py-5">
        <div class="col-lg-10 mx-auto">
        <h2>Liste des utilisateurs désactivés :</h2>
          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Adresse email</th>
                      <th>Activé</th>
                      <th>Reactiver</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="user : ${users}">
                      <td><span th:text="${user.id}"></span></td>
                      <td><span th:text="${user.lastName}"></span></td>
                      <td><span th:text="${user.firstName}"></span></td>
                      <td><span th:text="${user.mail}"></span></td>
                      <td><input disabled="disabled" type="checkbox" th:checked="${user.enabled}"></input></td>
                      <td style="text-align:center">  
                      <ul class="list-inline m-0">
                        <li class="list-inline-item ">
                       		<a th:href="@{/admin/reactivate/{id}(id=${user.id})}">
	                            <button th:disabled="${user.enabled}" class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Reactiver">                            
                       				 <i class="fa fa-check"></i> 
	                            </button>
                            </a>
                        </li>
                      </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <a style="font-family:'Poiret One','BIZ UDPGothic', cursive;" th:href="@{/admin}" class="btn btn-secondary" role="button"> Retourner à la page administrateur</a>
        </div>
        </div>
      </div>
    <!--</main>-->
  </div>
  <footer></footer>
</body>
</html>